<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>

     
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
   
    <title>Pacientes</title>
</head>
<body>
    <h1>Cadastro de Pacientes</h1>
    <p>Número de Pacientes: {{ValorInicial}}</p>
    
    <mat-tab-group mat-align-tabs="start">
        <mat-tab label="Número do Paciente"></mat-tab>
        
    

        <mat-tab label="Nome"></mat-tab>
        
      </mat-tab-group>

      

      <spa-endereco> </spa-endereco>

     


      

</body>
</html>
