
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>

     
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
   
    <title>Endereço do Paciente</title>
</head>
<body>
    <h1>Endereço</h1>

    <p> {{Rua}} 
      </p>

      <mat-tab-group mat-align-tabs="start">
        <mat-tab label="Número"></mat-tab>
        <mat-tab label="Bairro"></mat-tab>
        <mat-tab label="Cidade"></mat-tab>
        
      </mat-tab-group>

   
      
      <spa-telefone></spa-telefone>
    
    
      
      

</body>
</html>
